@import "./main";

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  height: 5rem;
  background-color: $primary-color;
  color: $logo-text-color;
  padding: 0.5rem;
  @include spaceBetween();

  .logo-container {
    display: flex;
    align-items: center;
    font-family: Righteous, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: $primary-text-color;
    & svg {
      width: 2.5rem;
      height: 2.5rem;
    }
    & > * {
      margin: 0.2rem;
    }
    .logo-title {
      font-size: 1.5rem;
      transform: translateY(-0.2rem);
    }
  }
  .tools {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      border-radius: 2rem;
      svg {
        min-width: 1.3rem;
        min-height: 1.3rem;
        width: 1.5vw;
        height: 1.5vw;
      }
    }
  }
}

.tab_bar {
  position: relative;
  @include spaceEvenly(row);
  overflow: scroll;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
  button {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    height: 3rem;
    background-color: $primary-color;
    & svg {
      width: 1.6rem;
      height: 1.6rem;
    }
    & svg path {
      fill: rgba(255, 255, 255, 0.7);
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .pointer {
    height: 0.35rem;
    width: 10rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      270deg,
      transparent 0%,
      $secondary-color 51.87%,
      transparent 100%
    );
    transition: 0.4s ease;
  }
}
.Active-tab {
  &::after {
    @include PseudoInit();
    height: 0.35rem;
    width: 100%;
    display: block;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      270deg,
      transparent 0%,
      $secondary-color 51.87%,
      transparent 100%
    );
    transition: 0.4s ease;
  }
}

.background {
  background-color: $main-color;
  width: 100%;
  height: 100%;
  @include spaceEvenly(column);
  align-items: center;
  color: $logo-text-color;
  svg {
    width: 10rem;
    height: 10rem;
    & path {
      fill: $logo-text-color;
    }
  }
  span {
    margin: 0 0 15rem 0;
    font-size: 2rem;
  }
}

.selected path {
  fill: $secondary-color !important;
}
.scroll-viewBox {
  overflow: scroll;
  width: 100%;
  height: 85%;
  background-color: $main-color;
  color: $primary-text-color;
  &::-webkit-scrollbar {
    display: none;
  }
  .user {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #77777720;
    & * {
      margin: 0.5rem;
    }
    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      & svg {
        border-radius: 10rem;
      }
    }
    .user-info {
      flex: 1;
      @include spaceEvenly(column);
      .top {
        :first-child {
          color: #fff;
          font-size: 1.2rem;
        }
        @include spaceBetween();
      }
      .bottom {
        @include spaceBetween();
      }
    }
  }
}
.danger {
  color: $safe-color;
}
.safe {
  color: $danger-color;
}
* {
  // outline: 0.5px dotted #bfbfbf48;
}
